---
import { Code } from "@astrojs/starlight/components";
import Message from "./Message.astro";

interface ModifierProps {
  utility: string;
  prefixUtil: string;
  modifiers: {
    hoverUtil: string;
    responsiveUtil?: string;
  };
}

const { utility: baseUtil, modifiers, prefixUtil } = Astro.props as ModifierProps;
---

<hr class="py-6" />

<section>
  {
    modifiers && modifiers.responsiveUtil && (
      <div>
        <h3 class="mb-6">Using utilities conditionally</h3>
        {/* <p>Find out how to use Yumma utilities on a case-by-case basis in the <a href="/modifiers">Modifiers</a> documentation.</p> */}
        <Message icon="ratio">
          <h4>Responsive breakpoints</h4>
        </Message>
        <p>
          You can combine responsive breakpoints like <code>sm:{prefixUtil}-*</code>,<code>md:{prefixUtil}-*</code>,{" "}
          <code>lg:{prefixUtil}-*</code>, and <code>xxl:{prefixUtil}-*</code> allows targeting specific utilities in
          different viewports.
        </p>
        <Code
          code={`<div class="${baseUtil} md:${modifiers.responsiveUtil} ..."></div>`}
          lang="html"
          mark={`md:${modifiers.responsiveUtil}`}
        />
      </div>
    )
  }

  <Message icon="square_dashed_pointer">
    <h4>Hover states</h4>
  </Message>

  <p>
    Alternatively, you can apply <code>:hover</code> by using <code>h:{prefixUtil}-*</code> utility to override elements
    and change their values when hovering over them.
  </p>

  <Code
    code={`<div class="${baseUtil} h:${modifiers.hoverUtil} ..."></div>`}
    lang="html"
    mark={`h:${modifiers.hoverUtil}`}
  />
</section>
