---
import { Code } from "@astrojs/starlight/components";
import Decorator from "./Decorator.astro";

interface ModifierProps {
  utility: string;
  prefixUtil: string;
  modifiers: {
    hoverUtil: string;
    responsiveUtil?: string;
  };
}

const { utility: baseUtil, modifiers, prefixUtil } = Astro.props as ModifierProps;
---

<hr class="mb-12 pt-6" />

<section>
  {
    modifiers && modifiers.responsiveUtil && (
      <div>
        <h3>Utilizing utilities conditionally</h3>
        <p>
          Learn how to override existing utilities based on the user's <a href="/docs/modifiers#breakpoints">screen size</a> or other factors, such as{" "}
          <a href="/docs/modifiers#hover-variants">hover states</a>.
        </p>
        <Decorator name="ratio">
          <b>Responsive breakpoints</b>
        </Decorator>
        <p>
          You can combine responsive breakpoints like <code>sm:{prefixUtil}-*</code>,<code>md:{prefixUtil}-*</code>, <code>lg:{prefixUtil}-*</code>, and{" "}
          <code>xxl:{prefixUtil}-*</code> allows targeting specific utilities in different viewports.
        </p>
        <Code code={`<div class="${baseUtil} md:${modifiers.responsiveUtil} ..."></div>`} lang="html" mark={`md:${modifiers.responsiveUtil}`} />
      </div>
    )
  }

  <Decorator name="square_dashed_pointer">
    <b>Hover states</b>
  </Decorator>

  <p>
    Alternatively, you can apply <code>:hover</code> by using <code>h:{prefixUtil}-*</code> utility to override elements and change their values when hovering over them.
  </p>

  <Code code={`<div class="${baseUtil} h:${modifiers.hoverUtil} ..."></div>`} lang="html" mark={`h:${modifiers.hoverUtil}`} />
</section>
