---
import { Code } from "@astrojs/starlight/components";
import Decorator from "./Decorator.astro";

interface ModifierProps {
  utility: string;
  prefixUtil: string;
  modifiers: {
    hoverMod: string;
    responsiveMod?: string;
  };
}

const { utility: baseUtil, modifiers, prefixUtil } = Astro.props as ModifierProps;
---

<section>
  <p>
    Learn how to override existing utilities based on the user's <a href="/docs/first-steps#breakpoint-modifiers">screen size</a> or other factors, such as{" "}
    <a href="/docs/first-steps#hover-modifiers">hover states</a>.
  </p>
  {
    modifiers && modifiers.responsiveMod && (
      <div>
        <Decorator icon="ruler_square">
          <b>Media modifiers</b>
        </Decorator>
        <p>
          You can combine responsive breakpoints like <code>sm:{prefixUtil}-*</code>,<code>md:{prefixUtil}-*</code>, <code>lg:{prefixUtil}-*</code>, and{" "}
          <code>xxl:{prefixUtil}-*</code> allows targeting specific utilities in different viewports.
        </p>
        <Code code={`<div class="${baseUtil} md:${modifiers.responsiveMod} ..."></div>`} lang="html" mark={`md:${modifiers.responsiveMod}`} />
      </div>
    )
  }

  <Decorator icon="cursor_arrow">
    <b>Hover modifiers</b>
  </Decorator>

  <p>
    Alternatively, you can apply <code>:hover</code> by using <code>h:{prefixUtil}-*</code> utility to override elements and change their values when hovering over them.
  </p>

  <Code code={`<div class="${baseUtil} h:${modifiers.hoverMod} ..."></div>`} lang="html" mark={`h:${modifiers.hoverMod}`} />
</section>
