---
import { Code, Tabs, TabItem } from "@astrojs/starlight/components";
import generateContainer from "../container";

interface PreviewProps {
  data: string;
  useScroll?: boolean;
  useCenter?: boolean;
  useExternal?: string;
  useFrame?: "none" | "code" | "terminal" | "auto";
  useHeight?: string;
  useMarks?: string[];
  usePadding?: boolean;
  useTabs?: boolean;
  useTitle?: string;
  useVersion?: string;
  useWrap?: boolean;
}

const {
  data,
  useScroll = false,
  useCenter = false,
  useExternal = "",
  useFrame = "none",
  useHeight = "300px",
  useMarks = [],
  usePadding = false,
  useTabs = false,
  useTitle = "",
  useVersion = "",
  useWrap = false,
} = Astro.props as PreviewProps;

const stylesheet =
  useExternal ||
  `https://cdn.jsdelivr.net/gh/yumma-lib/yumma-css@${useVersion}/dist/yumma.css`;

const code = generateContainer({
  data,
  stylesheet,
  useScroll,
  useCenter,
  usePadding,
});
---

<div>
  {
    useTabs ? (
      <Tabs>
        <TabItem icon="seti:video" label="Preview">
          <div class="preview-container">
            <iframe
              class="preview"
              loading="lazy"
              sandbox="allow-scripts allow-same-origin"
              srcdoc={code}
              style={`height: ${useHeight};`}
            />
          </div>
        </TabItem>
        <TabItem icon="seti:html" label="Code">
          <div>
            <Code
              code={data}
              frame={useFrame}
              lang="html"
              mark={useMarks}
              title={useTitle}
              wrap={useWrap}
            />
          </div>
        </TabItem>
      </Tabs>
    ) : (
      <div>
        <iframe
          class="preview"
          loading="lazy"
          sandbox="allow-scripts allow-same-origin"
          srcdoc={code}
          style={`height: ${useHeight};`}
        />
        <div>
          <Code code={data} lang="html" mark={useMarks} wrap={useWrap} />
        </div>
      </div>
    )
  }
</div>

<style>
  .preview {
    background-color: var(--preview-bg, light-dark(#f5f6f8, #1f212a));
    border: 1px solid var(--preview-border, light-dark(#eceef2, #2e313f));
    overflow-y: auto;
    width: 100%;
  }
</style>
